<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.classlink">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/classlinklogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:windowSoftInputMode="stateHidden|adjustResize">
        <activity
            android:name=".frontend.splashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".frontend.login"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".frontend.lectureCreate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".frontend.studyCreate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".frontend.lectureJoin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".frontend.studyJoin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".frontend.mainMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".frontend.settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".frontend.signUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".frontend.studyMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".frontend.studyRoom"
            android:screenOrientation="portrait" />
        <activity
            android:name=".frontend.userProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".frontend.notifications"
            android:screenOrientation="portrait" />
        <activity
            android:name=".frontend.lectureRoom"
            android:label="@string/title_activity_lecture_room"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>