<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.classlink">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:windowSoftInputMode="stateHidden|adjustResize">
        <activity android:name=".login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".lectureCreate"
            android:screenOrientation="portrait"/>
        <activity android:name=".studyCreate"
            android:screenOrientation="portrait"/>
        <activity android:name=".lectureJoin"
            android:screenOrientation="portrait"/>
        <activity android:name=".studyJoin"
            android:screenOrientation="portrait"/>
        <activity android:name=".mainMenu"
            android:screenOrientation="portrait"/>
        <activity android:name=".settings"
            android:screenOrientation="portrait"/>
        <activity android:name=".signUp"
            android:screenOrientation="portrait"/>
        <activity android:name=".studyMenu"
            android:screenOrientation="portrait"/>
        <activity android:name=".studyRoom"
            android:screenOrientation="portrait"/>
        <activity android:name=".userProfile"
            android:screenOrientation="portrait"/>
        <activity android:name=".notifications"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".lectureRoom"
            android:label="@string/title_activity_lecture_room"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
    </application>
</manifest>